body {
    background-image: url("images/bg1.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

}

h1 {
    font-family: 'Metal Mania', cursive;
}

button {
    padding: 1rem .5rem;
    width: 9rem;
    font-family: 'Metal Mania', cursive;
}

kbd {
    display: block;
    font-size: 4rem;
    font-family: 'Metal Mania', cursive;
}

.keys {
    margin-top: 15%;
    margin-bottom: 15%;
    display: flex;
    flex: 1;
    /* min-height: 100vh; */
    align-items: center;
    justify-content: center;
}

footer {
    margin-top: 17%;
    color: #DBEDF3;
    font-family: 'Metal Mania', cursive;
}

.playing {
    transform: scale(1.1);
    border-color: #C0C0C0;
    box-shadow: 0 0 1rem #C0C0C0;
}